290/1.2.643.5.1.13.13.15.13-1.2.643.5.1.13.13.15.13.7/xsd/XSD_ПРОТОКОЛ_КОНСУЛЬТАЦИИ_Р7/PARTICIPANT.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Схема разработана Управлением актуализации и модернизации руководств по структурированным электронным медицинским документам (СЭМД) 2025 -->
<!-- Включены элементы разработанные Health Level Seven -->
<xsd:schema xmlns:mif="urn:hl7-org:v3/mif"
	xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified"
	xmlns:address="urn:hl7-ru:address" xmlns:fias="urn:hl7-ru:fias"
	xmlns:identity="urn:hl7-ru:identity" xmlns:medService="urn:hl7-ru:medService">
	<!--
*****************************************************************************************************************
* XML schema for message type POCD_MT000040.
* Generated by XMLITS version 2.0
*
* Copyright (c) 2002, 2003, 2004, 2005 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
	<xsd:import namespace="urn:hl7-ru:fias" schemaLocation="fias.xsd"/>
	<xsd:import namespace="urn:hl7-ru:address" schemaLocation="address.xsd"/>
	<xsd:import namespace="urn:hl7-ru:identity" schemaLocation="identity.xsd"/>
	<xsd:import namespace="urn:hl7-ru:medService" schemaLocation="medService.xsd"/>
	<xsd:include schemaLocation="coreschemas/datatypes.xsd"/>
	<xsd:include schemaLocation="coreschemas/voc.xsd"/>
	<xsd:include schemaLocation="coreschemas/NarrativeBlock.xsd"/>
	
	<!-- Блоки "Сведения об организации (страховой компании или юридическом лице)" и "Сведения об организации, где работает направившее лицо" -->
	<xsd:complexType name="POCD_MT000040.Organization_1">
		<xsd:sequence>
			<xsd:choice minOccurs="0">
				<xsd:sequence>
					<xsd:element name="id" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>уникальный идентификатор организации</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="II">
									<xsd:attribute name="root" type="uid" use="optional"/>
									<xsd:attribute name="extension" type="st" use="optional"/>
									<xsd:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
									<xsd:attribute name="displayable" type="bl" use="prohibited"/>
									<xsd:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element ref="identity:Dept" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>структурное подразделение медицинской организации</xsd:documentation>
						</xsd:annotation>
					</xsd:element>	
					<xsd:element name="name" type="ON" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>наименование организации</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>контакты организации</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="addr" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>адрес организации</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:choice minOccurs="0">
								<xsd:group ref="AD"/>
							</xsd:choice>
							<xsd:attribute name="use" use="optional" type="set_PostalAddressUse"/>
							<xsd:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xsd:complexType>
	
	<!-- Блоки "Сведения об источнике оплаты" и "Сведения о направившем лице, направившей организации" -->
	<xsd:complexType name="POCD_MT000040.Participant_1">
		<xsd:sequence>
			<xsd:element name="associatedEntity" type="POCD_MT000040.AssociatedEntity_1" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>источник оплаты и направившее лицо</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="typeCode" use="required">
			<xsd:simpleType>
				<xsd:restriction base="ParticipationType">
					<xsd:enumeration value="IND"/>
					<xsd:enumeration value="REF"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
	</xsd:complexType>
	<xsd:complexType name="POCD_MT000040.AssociatedEntity_1">
		<xsd:sequence>
			<xsd:choice>
				<!-- Блок "Сведения об источнике оплаты" -->
				<xsd:sequence>
					<xsd:element name="code" type="code_participant" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>код источника оплаты</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element ref="identity:DocInfo" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>документ-основание</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<!-- Блок "Сведения о направившем лице, направившей организации" -->
				<xsd:sequence>
					<xsd:element name="id" minOccurs="2" maxOccurs="2">
						<xsd:annotation>
							<xsd:documentation>уникальный идентификатор направившего лица в МИС</xsd:documentation>
							<xsd:documentation>СНИЛС направившего лица</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="II">
									<xsd:attribute name="root" use="optional">
										<xsd:simpleType>
											<xsd:restriction base="uid">
												<xsd:pattern value="[0-2](\.(0|[1-9][0-9]*))*.70|1.2.643.100.3"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="extension" type="st" use="optional"/>
									<xsd:attribute name="assigningAuthorityName" type="st" use="prohibited"/>
									<xsd:attribute name="displayable" type="bl" use="prohibited"/>
									<xsd:attribute name="nullFlavor" type="NullFlavor" use="optional"/>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="code" type="code_participant" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>код должности направившего лица</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!-- Блок "Адрес места работы направившего лица" -->
					<xsd:element name="addr" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>адрес направившего лица</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:choice minOccurs="0">
								<xsd:group ref="AD"/>
							</xsd:choice>
							<xsd:attribute name="use" use="optional" type="set_PostalAddressUse"/>
							<xsd:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="telecom" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>контакты направившего лица</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:restriction base="TEL">
									<xsd:attribute name="value" type="url" use="required"/>
									<xsd:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
								</xsd:restriction>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="associatedPerson" type="POCD_MT000040.Person" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>ФИО направившего лица</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:choice>					
			<xsd:element name="scopingOrganization" type="POCD_MT000040.Organization_1" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>сведения об организации</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="classCode" use="required">
			<xsd:simpleType>
				<xsd:restriction base="RoleClassAssociative">
					<xsd:enumeration value="GUAR"/>
					<xsd:enumeration value="PROV"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>		
	</xsd:complexType>
	<xsd:complexType name="code_participant">
		<xsd:complexContent>
			<xsd:restriction base="CE_non_elements">
				<xsd:attribute name="code" type="cs" use="required"/>
				<xsd:attribute name="codeSystem" use="required">
					<xsd:simpleType>
						<xsd:restriction base="uid">
							<xsd:enumeration value="1.2.643.5.1.13.13.11.1039"/>
							<xsd:enumeration value="1.2.643.5.1.13.13.11.1002"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
				<xsd:attribute name="codeSystemName" type="st" use="required"/>
				<xsd:attribute name="codeSystemVersion" type="st" use="required"/>
				<xsd:attribute name="displayName" type="st" use="required"/>
				<xsd:attribute name="nullFlavor" type="NullFlavor" use="prohibited"/>
			</xsd:restriction>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
